{{ patient }}
{% if visits %}
<ul>
{% for v in visits %}
<li>{{v}}</li>


<v_form action = "/visit/" method="post">{% csrf_token %}

    
    <input id=v.pk type="text" name="visit" value="{{ v.description }}">

    <button type="submit" name="v_button">Save Changes</button>

</v_form>


{% endfor %}
</ul>
{% else %}
<p>There are no visits for this patient</p>
form action = "/visit/" method="post">{% csrf_token %}

    
    <input id="visit" type="text" name="visit">

    <button type="submit" name="v_button">Save Changes</button>
</form>
{% endif %}




