{{ patient }}
{% if visits %}
<ul>
{% for v in visits %}
<li>{{v}}</li>


<form action = "{% url 'patients_app' patient.pk %}" method="post">
{% csrf_token %}

    
    <input id=v.pk type="text" name="visit" value="{{ v.description }}">

    <button type="submit" name="v_button">Save Changes</button>

</form>


{% endfor %}
</ul>
{% else %}

<p>There are no visits for this patient</p>

<form action = 'patients_app' patient.pk method="post">
{% csrf_token %}

    
    <input id= v.pk type="text" name="visit">

    <button type="submit" name="v_button">Save Changes</button>
</form>
{% endif %}




